<div class="book">
  <div class="headerBook">
    <div class="titleBook">
      <span class="bold">{{this.name}}</span>
    </div>
    <div class="options">
      <span>{{this.pages}} páginas</span>
      <a href="/edit/{{this.id}}"><img src="/images/ferramenta-lapis.png" alt="" class="buttonOption"></a>
      <a href="/remove/{{this.id}}"><img src="/images/lixeira-de-reciclagem.png" alt="" class="buttonOption"></a>
    </div>
  </div>
  <div class="sinopse">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat et voluptatem totam sit, sunt nemo numquam quia, maiores magnam harum veniam quos. Repellendus, incidunt perspiciatis nisi sunt dolore animi quia.</p>
  </div>
</div>